.main {
    margin: 3rem 2rem;
}

.title { 
    border-bottom: 2px solid #ffd400;
}

.flex-center { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
